.admissions ul,.socials ul,ul.follow {
    list-style-type: none
}

.admissions ul li,.imp-vdos .vdo-s1 a,.q-links ul li,li.nav-item.mega-menu>a,nav.main-nav {
    position: relative
}

#closenav,.menu-on,.navbar-toggler {
    display: none
}

.pdx-5 {
    padding-left: 50px;
    padding-right: 50px
}

.bottom_nav_sec>div,.pdy-5 {
    padding-top: 8px;
    padding-bottom: 8px
}

.header-slider {
    margin-top: 189px
}

.inner-banner {
    margin-top: 200px
}

.fixedtop {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1050;
    -webkit-box-shadow: 0 2px 14px -10px #000;
    -moz-box-shadow: 0 2px 14px -10px #000;
    box-shadow: 0 2px 14px -10px #000
}

.fixedtop .top_section .pdy-5 {
    padding-top: 2px;
    padding-bottom: 2px
}

.fixedtop .bottom_nav_sec>div {
    padding-top: 5px;
    padding-bottom: 5px
}

.fixedtop .admissions {
    padding: 0;
    margin-top: -2px
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px)
    }

    100% {
        transform: translateY(0)
    }
}

.admissions {
    text-align: right;
    padding: 2px 0
}

.admissions ul {
    display: block;
    margin-left: auto;
    padding-right: 35px;
    margin-bottom: 0;
    width: 100%
}

.admissions ul li {
    padding-left: 0;
    padding-right: 8px;
    border-right: 1px solid #ccc;
    line-height: 0;
    display: inline-block;
    margin-right: 5px
}

.admissions ul li:last-child {
    border-right: 0;
    margin-right: 0
}

.admissions ul li.email:before {
    content: "\f0e0";
}

.admissions ul li a,.admissions ul li p {
    display: inline-block;
    font-weight: 900
}

.admissions ul li p {
    margin: 0;
    padding-right: 5px;
    color: #0f3db8;
    font-size: 13px;
    line-height: 15px
}

.admissions ul li a {
    color: #222;
    text-decoration: none;
    font-size: 13px;
    line-height: 18px
}

.admissions ul li a:hover {
    color: #34acec;
    text-decoration: none
}

.top_section {
    background-color: #0f3db8
}

.middle-nav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between
}

.site-logo {
    margin-right: auto;
    padding: 8px 0
}

.site-logo a img {
    width: auto;
    height: 65px
}

.header-info {
    margin: 12px 0
}

.imp-vdos {
    margin-top: -10px
}

.vdos-ico img {
    width: 45px;
    height: 56px;
    padding-top: 15px;
    padding-right: 4px
}

.vdo-s1 span {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 10.2px;
    white-space: nowrap
}

.imp-vdos .vdo-s1 a {
    width: 95px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    background-color: #c1c1c1;
    text-align: center
}

.imp-vdos .vdo-s1 a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .25)
}

.imp-vdos .vdo-s1 a:after {
    content: "\f04b";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #f62c33
}

.imp-vdos .vdo-s1 a img {
    width: 95px;
    height: 53px;
    color: #ccc;
    font-size: 12px
}

.bottom_nav_sec {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 20px -8px #000;
    -moz-box-shadow: 0 2px 20px -8px #000;
    box-shadow: 0 2px 20px -8px #000
}

.bwu-nav {
    width: 85%
}

ul.navbar-nav.cs-nav>li.nav-item:first-child>a.nav-link {
    border-left: 0
}

ul.navbar-nav.cs-nav>li.nav-item>a.nav-link {
    padding: 1px 17px 1px 6px;
    font-size: 14px;
    font-weight: 900;
    color: #0f3db8;
    border-left: 1px solid #ccc
}

li.nav-item.dropdown:after,li.nav-item.mega-menu>a:after {
    content: "\f107";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 14px;
    color: #a7a7a7;
    position: absolute;
    top: 2px
}

li.nav-item.mega-menu>a:after {
    right: 3px
}

li.nav-item.dropdown:after {
    right: 7px
}

.dropdown-toggle::after {
    border: 0
}

.dropdown-menu {
    visibility: hidden;
    display: inherit;
    min-width: 14rem;
    top: 30px;
    border-top: 5px solid #0f3db8;
    background: #f2f2f2
}

.fixedtop .dropdown-menu {
    top: 25px
}

.fixedtop .dropdown-menu.cs-megamenu {
    top: 35px
}

.list-group-item {
    border: none
}

nav.bwu-nav ul.cs-nav ul li {
    list-style: none;
    border-bottom: 1px solid #ababab;
    background: #f2f2f2;
    padding: 5px 0
}

nav.bwu-nav ul.cs-nav ul li.has-submenu:first-child {
    border-bottom: none
}

ul.navbar-nav li ul li {
    word-wrap: break-word
}

.dropdown-menu ul li a {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0 14px 0 30px;
    position: relative;
    color: #313131;
    text-decoration: none
}

.dropdown-menu ul li a:before {
    content: "";
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background: #bdbdbd;
    position: absolute;
    top: 7px;
    left: 11px
}

.dropdown-menu ul li a:hover:before {
    background: #0f3db8
}

.dropdown-menu ul li a.mega-menu-ttl {
    padding-left: 11px!important;
    color: #0f3db8
}

.dropdown-menu>ul.mega-sub li.has-submenu>a:before,li.nav-item.dropdown.mega-menu:after {
    content: none
}

ul.navbar-nav li ul li:last-child {
    border-bottom: 0
}

ul.mega-sub {
    padding: 0 15px
}

.drop-item {
    display: none;
    position: absolute;
    left: 100%;
    top: -4px;
    min-width: 14rem;
    border-top: 4px solid #0f3db8
}

.appl-now,.socials ul li,ul.follow li {
    display: inline-block
}

.socials {
    border-left: 1px solid #777;
    margin-left: 18px
}

.socials>span {
    font-size: 11px;
    margin-top: -5px;
    padding-bottom: 7px;
    font-family: "Helvetica Neue LT Roman"
}

.ftr-info p,.ftr-info>span,.q-links ul li a {
    font-family: Roboto,sans-serif
}

.socials ul {
    padding-left: 20px;
    margin: 0
}

.socials ul li a {
    display: block;
    width: 23px;
    height: 23px;
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 25%;
    line-height: 24px;
    font-size: 14px
}

.socials ul li a:hover {
    opacity: .7
}

.socials ul li a.fbk {
    color: #2173ea
}

.socials ul li a.twt {
    color: #2e9cea
}

.socials ul li a.lik {
    color: #1f70ad
}

.socials ul li a.pin {
    color: #e60019
}

.socials ul li a.flk {
    color: #f6057c
}

.socials ul li a.ytb {
    color: #f60001
}

ul.follow li a.fbk {
    background-color: #117ed5
}

ul.follow li a.twt {
    background-color: #34cafd
}

ul.follow li a.lik {
    background-color: #09aafa
}

ul.follow li a.pin {
    background-color: #ff2c33
}

ul.follow li a.flk {
    background-color: #ff0084
}

ul.follow li a.ytb {
    background-color: #e22730
}

ul.follow li a.wht {
    background-color: #369d12
}

ul.follow li a.insta {
    background-color: #924abc
}

.srch {
    padding-right: 1%
}

.srch a img {
    width: 38px;
    height: 35px
}

.appl-now {
    width: 130px;
    text-align: center;
    margin-top: 2px;
    margin-right: 5px;
    line-height: 2
}

.appl-now a {
    display: block;
    background: #fab91d;
    padding: 3px 15px;
    color: #0f3db8;
    border-radius: 30px;
    font-weight: 600
}

.fixedtop .bottom-nav .appl-now a {
    padding: 2px;
    font-size: 14px;
    margin: 4px 0
}

.appl-now a:hover {
    background: #00fd1f
}

.fixedtop .appl-now {
    width: 115px
}

footer.footer {
    padding: 0;
    background-color: #000f20
}

.br_set {
    border-right: 1px solid #011d3e
}

.pd-set {
    padding: 40px 15px
}

.ftr-info>a {
    display: block;
    padding-bottom: 20px
}

ul.follow {
    padding: 0
}

.ftr-info>span {
    display: block;
    color: #1eb5ee;
    font-size: 20px
}

ul.follow li a {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px
}

.ftr-info p {
    margin: 0;
    color: #fff;
    font-size: 14px
}

.ftr-info p span {
    color: #1eb5ee
}

.q-links span {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px
}

.q-links ul {
    padding: 0;
    list-style: none;
    color: #1eb5ee;
    margin-left: 0;
    margin-bottom: 0;
    float: left;
    width: 100%
}

.q-links ul li {
    width: 50%;
    float: left;
    margin-bottom: 8px;
    padding-left: 15px
}

.q-links ul li:before {
    content: "";
    width: 7px;
    height: 7px;
    background: #1db5ed;
    position: absolute;
    top: 9px;
    left: 0
}

.q-links ul.apply li {
    width: 100%;
    float: none
}

.q-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px
}

.q-links ul li a:hover {
    color: #1db5ed
}

@media only screen and (min-width: 1600px) {
    .admissions ul li a,.admissions ul li p,.dropdown-menu ul li a,.ftr-info p,.q-links ul li a,ul.navbar-nav.cs-nav>li.nav-item>a.nav-link {
        font-size:18px
    }

    .admissions {
        padding: 0
    }

    .admissions ul {
        padding-right: 45px
    }

    .admissions ul li {
        padding-right: 11px;
        margin-right: 10px
    }

    .middle-nav {
        justify-content: center
    }

    .site-logo a img {
        width: auto;
        height: 90px
    }

    .site-logo {
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 0
    }

    .vdos-ico img {
        width: 58px;
        height: 74px;
        padding-top: 20px
    }

    .vdo-s1 span {
        font-size: 14px
    }

    .imp-vdos .vdo-s1 a {
        width: unset;
        height: unset
    }

    .imp-vdos .vdo-s1 a img {
        width: 135px;
        height: auto
    }

    li.nav-item.dropdown:after,li.nav-item.mega-menu>a:after {
        top: 4px
    }

    .dropdown-menu ul li a:before {
        top: 9px;
        left: 6px
    }

    .dropdown-menu {
        width: 100%
    }

    .dropdown-menu ul li ul {
        min-width: 15rem
    }

    .cs-megamenu,.fixedtop .dropdown-menu.cs-megamenu {
        top: 50px
    }

    .dropdown-menu ul li a.mega-menu-ttl {
        padding-left: 5px!important
    }

    .dropdown-menu ul li a {
        padding: 0 14px 0 25px
    }

    .fixedtop .dropdown-menu {
        top: 35px
    }

    .srch a img {
        width: 55px;
        height: 50px
    }

    .appl-now {
        width: 180px
    }

    .fixedtop .bottom-nav .appl-now {
        width: 145px
    }

    .fixedtop .bottom-nav .appl-now a {
        padding-bottom: 2px;
        font-size: 17px;
        margin: 6px 0
    }

    .q-links ul li:before {
        top: 12px
    }

    .q-links span {
        font-size: 25px
    }

    .inner-banner {
        margin-top: 235px
    }
}

@media (min-width: 992px) {
    li.nav-item.dropdown:hover>.drop-item {
        display:block
    }

    ul.cs-nav li.dropdown:hover div.drop-hvr {
        opacity: 1;
        transform: translate(0,0);
        visibility: visible
    }

    .drop-hvr {
        opacity: 0;
        transform: translate(0,10px);
        transition: opacity .1s ease-in,transform .1s ease-in,visibility .1s ease-in
    }

    .bottom-nav {
        position: relative
    }
}

@media screen and (min-width: 1200px) and (max-width:1300px) {
    .appl-now {
        width:130px
    }

    .srch a img {
        width: 40px
    }
}

@media screen and (min-width: 1200px) {
    ul.mega-sub {
        height:65vh;
        overflow-y: auto;
    }
}

@media screen and (min-width: 1081px) and (max-width:1199px) {
    .navbar-expand-xl {
        -ms-flex-flow:row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-xl .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-xl .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute
    }
}

@media screen and (min-width: 1025px) and (max-width:1199px) {
    .site-logo {
        margin:0 auto
    }

    .header-info {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    .appl-now {
        width:100px
    }

    .appl-now a {
        padding: 3px 10px;
        font-size: 12px
    }

    .srch {
        margin-top: 0
    }

    .srch a img {
        width: 40px
    }
}

@media only screen and (max-width: 1199px) {
    .middle-nav {
        justify-content:flex-start
    }

    .ftr-info a img {
        width: auto;
        height: 34px
    }

    ul.follow li a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px
    }
}

@media only screen and (max-width: 1160px) {
    ul.navbar-nav.cs-nav>li.nav-item>a.nav-link {
        font-size:13px
    }
}

@media only screen and (max-width: 1024px) {
    .admissions {
        margin-right:20px
    }

    ul.navbar-nav.cs-nav>li.nav-item>a.nav-link {
        font-size: 13px
    }
}

@media only screen and (max-width: 1080px) {
    .bwu-nav,.imp-vdos {
        width:100%
    }

    .appl-now a,.fixedtop .bottom-nav .appl-now a {
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    .mob-contain {
        max-width: 100%
    }

    .admissions {
        width: 100%;
        margin-right: 0
    }

    .admissions ul {
        padding: 0
    }

    .admissions ul li {
        padding-right: 6px;
        border-right: 1px solid #d6d6d6;
        margin: 0 6px 10px
    }

    .admissions ul li:first-child {
        margin-left: 0
    }

    .admissions ul li:last-child {
        padding-right: 0;
        border-right: 0;
        margin-right: 0
    }

    .bwu-nav {
        background: #fff;
        height: 45px
    }

    .vdos-ico {
        display: none
    }

    .vdo-ttl {
        flex: 0 0 100%;
        text-align: center
    }

    .navbar-toggler {
        display: block;
        position: absolute;
        right: 0
    }

    button.navbar-toggler:focus {
        outline: 0
    }

    .fixedtop .bwu-nav {
        height: 35px
    }

    .srch a img {
        width: 35px;
        height: 32px
    }

    .navbar-collapse {
        display: block;
        position: absolute;
        width: 100%;
        top: 45px;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #eee;
        z-index: 100
    }

    .drop-item,.top-nav {
        position: relative;
        width: 100%
    }

    .dropdown-menu,nav.bwu-nav ul.cs-nav ul li {
        background: 0 0
    }

    .fixedtop .navbar-collapse {
        top: 40px
    }

    .dropdown-menu {
        visibility: unset;
        display: none
    }

    .close-icon .navbar-toggler-icon,.navbar-toggler-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%
    }

    .drop-item {
        top: 0;
        left: 0;
        border-top: 2px solid #0f3db8
    }

    .navbar-toggler-icon {
        background-color: #00409e;
        padding-top: 2px;
        border-radius: 3px;
        padding-left: 4px;
        padding-right: 4px;
        background-image: url(../images/hmb.svg)
    }

    .close-icon .navbar-toggler-icon {
        background-image: url(../images/closed.svg)
    }

    #closenav,.appl-now,.srch {
        position: absolute
    }

    .top-nav .navbar-dark .navbar-nav .nav-link {
        width: 230px
    }

    .top-nav::after {
        content: none
    }

    .collapse-button {
        right: 0
    }

    #closenav {
        display: block;
        right: 15px;
        top: 5px
    }

    .nav-ctrl>ul {
        margin-top: 30px
    }

    .site-logo {
        width: auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px
    }

    .drop-item.show,.fixedtop .site-logo.site-logo-mob {
        display: block;
    }

    li.nav-item.dropdown.mega-menu {
        position: relative!important
    }

    ul.navbar-nav.cs-nav>li.nav-item>a.nav-link {
        padding: 5px;
        border: none
    }

    li.nav-item.mega-menu>a:after {
        right: 7px
    }

    .drop-hvr {
        opacity: 1
    }

    li.nav-item.dropdown:after {
        z-index: -1
    }

    ul.navbar-nav.cs-nav {
        padding: 0 8px;
        height: 63vh;
        overflow-y: auto
    }

    .bottom_nav_sec>div {
        padding-top: 0;
        padding-bottom: 0
    }

    .appl-now {
        width: 170px;
        top: 2px;
        left: 0.75rem;
    }

    .appl-now a {
        padding: 0 8px;
        font-size: 18px;
    }

    .fixedtop .admissions ul li {
        margin-bottom: 0
    }

    .fixedtop .appl-now {
        top: -3px;
        width: 170px
    }

    .fixedtop .fixed-logo {
        height: 40px;
        margin: 0 auto;
        width: 115px;
        float: left;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 20;
        top: 10px;
        display: block
    }

    .fixedtop {
        height: 65px
    }

    .fixedtop .navbar-toggler {
        top: -4px
    }

    .fixedtop .collapse-button {
        top: 45%
    }

    .fixedtop .fixed-logo img {
        width: 130px
    }

    .srch {
        right: 50px;
        margin-top: 9px
    }

    .fixedtop .srch {
        top: -8px
    }

    .br_set {
        border: 0
    }

    .footer .container .row>div:first-child {
        order: 6;
        text-align: center;
        border: 0;
        padding: 15px 0;
        border-top: 1px solid
    }

    .footer .container .row>div:last-child {
        order: 5
    }

    .footer .container .row>div:nth-child(5) {
        order: 4
    }

    .pd-set {
        padding: 20px 0
    }
}

@media only screen and (max-width: 991px) {
    ul.follow li a {
        width:35px;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        margin: 2px
    }
}

@media only screen and (max-width: 767px) {
    .pdx-5 {
        padding:3px 15px
    }

    .admissions ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0
    }

    .admissions ul li {
        width: 48%;
        background-color: #f2f2f2;
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
        margin: 1px
    }

    .admissions ul li a,.admissions ul li p {
        font-size: 12px;
        display: inline-block;
        line-height: 15px
    }

    .fixedtop .admissions ul li {
        padding: 0 2px
    }

    .middle-nav {
        justify-content: space-between
    }

    .header-info {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0
    }

    .site-logo {
        text-align: left;
        margin: 5px
    }

    .vdo-s1 span {
        font-size: 9px
    }

    .imp-vdos .vdo-s1 a {
        width: 90px
    }

    .imp-vdos .vdo-s1 a img {
        width: 90px;
        height: 47px
    }

    .footer .container .row>div:nth-child(2) {
        order: 1;
        padding-bottom: 0
    }

    .footer .container .row>div:nth-child(3) {
        order: 3;
        padding-top: 21;
        padding-left: 15px
    }

    .footer .container .row>div:nth-child(4) {
        order: 2;
        padding-bottom: 0
    }
}

@media only screen and (max-width: 640px) {
    .site-logo {
        width:52%
    }
}

@media only screen and (max-width: 575px) {
    .admissions {
        background:#fff
    }

    .admissions ul li a,.admissions ul li p {
        font-size: 10px
    }

    .srch {
        padding-right: 3%
    }

    .imp-vdos .vdo-s1 a {
        width: 75px
    }

    .footer .container .row>div:nth-child(2),.footer .container .row>div:nth-child(4) {
        width: 46%;
        margin-left: 15px
    }

    .footer .container .row>div:nth-child(5) {
        order: 4;
        margin-left: 15px;
        width: 30%;
        float: left
    }

    .footer .container .row>div:nth-child(6) {
        order: 5;
        margin-left: 15px;
        width: 30%;
        float: left
    }

    .footer .container .row>div:nth-child(3) {
        order: 3;
        width: 30%;
        float: left
    }

    .footer .container .row>div:nth-child(2) {
        order: 1
    }

    .footer .container .row>div:nth-child(4) {
        order: 2
    }

    .footer .container .row>div:first-child {
        order: 6
    }
}

@media only screen and (max-width: 480px) {
    .inner-banner {
        margin-top:212px
    }

    .site-logo {
        margin: 0;
        text-align: center
    }

    .header-info,.site-logo {
        width: 100%
    }

    .site-logo a img {
        width: 135px;
        height: 45px
    }

    .ftr-info a img {
        width: 135px;
        height: 30px;
    }

    .header-info {
        margin: 8px 0
    }

    .imp-vdos .vdo-s1 a,.imp-vdos .vdo-s1 a img {
        width: 75px;
        height: 40px
    }

    .header-slider {
        margin-top: 240px
    }

    .middle-nav {
        flex-wrap: wrap;
        justify-content: center
    }
}

@media only screen and (max-width: 430px) {
    .footer .container .row>div:nth-child(2),.footer .container .row>div:nth-child(4) {
        width:100%
    }

    .footer .container .row>div:nth-child(5) {
        order: 1;
        margin-left: 15px;
        width: 100%;
        float: none
    }

    .footer .container .row>div:nth-child(6) {
        order: 5;
        margin-left: 15px;
        width: 100%;
        float: none
    }

    .footer .container .row>div:nth-child(3) {
        order: 3;
        width: 100%;
        float: none
    }

    .q-links ul.apply li {
        width: 50%;
        float: left
    }
}

@media only screen and (max-width: 359px) {
    .admissions ul li a,.admissions ul li p {
        font-size:10px;
        line-height: 12px;
        display: block
    }

    .imp-vdos .vdo-s1 a {
        width: 70px
    }
}
